/* # Front-end Style Guide

## Layout
The designs were created to the following widths:
- Mobile: 375px
- Desktop: 1440px

## Colors
#### Text
- Very dark desaturated blue: hsl(238, 29%, 16%)
- Soft red: hsl(14, 88%, 65%)

#### Gradient
Background gradient:
- Soft violet: hsl(273, 75%, 66%)
- Soft blue: hsl(240, 73%, 65%)

### Neutral
#### Text
- Very dark grayish blue: hsl(237, 12%, 33%)
- Dark grayish blue: hsl(240, 6%, 50%)

#### Dividers
- Light grayish blue: hsl(240, 5%, 91%)

### Body Copy
- Font size: 12px

### Font
- Family: [Kumbh Sans](https://fonts.google.com/specimen/Kumbh+Sans)
- Weights: 400, 700 */

@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

:root {
    /*Text primary: */
    --Very-dark-desaturated-blue: hsl(238, 29%, 16%);
    --Soft-red: hsl(14, 88%, 65%);
    /* Background gradient: */
    --Soft-violet: hsl(273, 75%, 66%);
    --Soft-blue: hsl(240, 73%, 65%);
    /*Neutral Text: */
    --Very-dark-grayish-blue: hsl(237, 12%, 33%);
    --Dark-grayish-blue: hsl(240, 6%, 50%);
    /*Dividers: */
    --Light-grayish-blue: hsl(240, 5%, 91%);
    --White: #fff;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-size: 12px;
    font-family: Kumbh Sans;
    background: linear-gradient(180deg, var(--Soft-violet), var(--Soft-blue));
    min-height: 100vh;
    display: grid;
    place-items: center;
}

main {
    margin-top: 150px;
}

.container {

    background-color: var(--White);
    border-radius: 2em;
    box-shadow: 0 10px 40px var(--Very-dark-desaturated-blue);
    min-width: 335px;
    padding: 2.5em;

}

/* .container-section1{
    display: flex;
    justify-content: center;
} */
.container-section1__img {
    display: block;
    width: 240px;
    margin: -140px auto 0;
}

.container-section1__img--shadow {
    width: 240px;
    margin: -75px auto 0;
    content: url(./images/bg-pattern-mobile.svg);
}



h1 {
    text-align: center;
    margin: 1em 0;
    font-size: 2rem;

}

.question {
    width: 280px;
}

.question__title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* position: relative; */
    font-size: 0.85rem;
    font-weight: 400;
}

.question__title:hover {
    cursor: pointer;
    color: orange;
}

.question__title::before {
    /* content: url(images/icon-arrow-down.svg); */
    position: absolute;
    right: -5px;
}

.activa {
    font-weight: 700;
}

.question__paragraph {
    /* position: relative; */
    overflow: hidden;
    display: none;
    transition: 300ms;
    margin-top: 1em;
}

.arrow_up {
    transform: rotate(180deg);
    transition: 300ms;
}

.lines {
    margin: 1.5em 0;

}


@media (min-width: 1000px) {
    .container {
        display: flex;
        /* padding: 5em; */
        width: 924px;
        background-image: url(./images/bg-pattern-desktop.svg);
        background-position-x: -589px;
        background-position-y: -291px;
        background-repeat: no-repeat;
        
    }

    .container-section1,
    .container-section2 {
        
        width: 100%;
    }
    .container-section1__img{
        width: 454px;
        margin: 57px 0 0 -108px;
    }
    .container-section1__img--shadow{
        display: none;
    }
    .container-section2{
        padding: 2em 4em 3.5em 3em;
    }
    h1{
        text-align: left;
    }
    .lines{
        width: 80%;
    }
}
